body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.center-again{
    position: relative;
    text-align: center;
    width: 90%;
    padding: 10px;
    margin: auto;
}

.image-pic{
    position: relative;
    bottom: 40px;
    right: 40px;
    height: 175px;
    width: 130px;

}

.background-body{
    background-color: black;
}

.image-screen{
    width: 100%;
    height: 500px;
}

.body-text{
    color: #1846db;
}

.body-text p{
    color: white;
}

.padding-btm{
    padding-bottom: 80px;
}
