body {
	background: linear-gradient(-45deg, #6b4ae2, #2522d1, #417ee7, #23bad5);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
	margin: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.body-text {
	color: #1846db;
}

.body-text p {
	color: white;
}

.center-again {
	position: relative;
	text-align: center;
	width: 90%;
	padding: 10px;
	margin: auto;
}

.image-pic {
	height: 175px;
	width: 130px;
}

div.item {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 120px;
}

img {
	width: 100px;
	height: 100px;
	background-color: grey;
}

.caption {
	display: block;
}

.image-screen {
	border-radius: 25px;
	height: 1150px;
	width: 105%
}

.background-body {
	background-color: black;
}


.padding-btm {
	padding-bottom: 80px;
}

@media only screen and (min-width: 601px) {
	div.example {
		font-size: 80px;
	}
}

@media only screen and (min-width: 600px) {

	div.example {
		font-size: 30px;
	}

	.col-s-1 {
		width: 8.33%;
	}

	.col-s-2 {
		width: 16.66%;
	}

	.col-s-3 {
		width: 25%;
	}

	.col-s-4 {
		width: 33.33%;
	}

	.col-s-5 {
		width: 41.66%;
	}

	.col-s-6 {
		width: 50%;
	}

	.col-s-7 {
		width: 58.33%;
	}

	.col-s-8 {
		width: 66.66%;
	}

	.col-s-9 {
		width: 75%;
	}

	.col-s-10 {
		width: 83.33%;
	}

	.col-s-11 {
		width: 91.66%;
	}

	.col-s-12 {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {

	.col-1 {
		width: 8.33%;
	}

	.col-2 {
		width: 16.66%;
	}

	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.33%;
	}

	.col-5 {
		width: 41.66%;
	}

	.col-6 {
		width: 50%;
	}

	.col-7 {
		width: 58.33%;
	}

	.col-8 {
		width: 66.66%;
	}

	.col-9 {
		width: 75%;
	}

	.col-10 {
		width: 83.33%;
	}

	.col-11 {
		width: 91.66%;
	}

	.col-12 {
		width: 100%;
	}
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid #ccc;
	}

	td {
		border: none;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	.image-screen {
		height: 40%;
	}

	[class*="col-"] {
		width: 100%;
	}

	.image-screen{
		visibility: hidden;
	}

	.body-text{
		width: 145%;
	}

	.image-pic{
		height: 275px;
		width: 190px;
	}

}