body {
	background: linear-gradient(-45deg, #6b4ae2, #4441e7, #417ee7, #23bad5 );
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
	margin: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.body-text {
	color: #1846db;
}

.body-text p {
	color: white;
}

.center-again {
	position: relative;
	text-align: center;
	width: 90%;
	padding: 10px;
	margin: auto;
}

.image-pic {
	height: 175px;
	width: 130px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
img {
    width: 100px;
    height: 100px;
    background-color: grey;
}
.caption {
    display: block;
}

.image-screen {
	border-radius: 25px;
	height: 1150px;
	width: 105%
}

.background-body {
	background-color: black;
}


.padding-btm {
	padding-bottom: 80px;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

	/* Force table to not be like tables anymore */
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid #ccc;
	}

	td {
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	.image-screen {
		height: 40%;
	}

}